<header class="pb-2">
    <!-- Personal Logo -->
    <img src="img/home_logo_dark_theme.png" alt="home logo" style="width:75px;height:36px;">
    <!-- Navigation -->
    <nav>
        {% set navPages = collections.all | eleventyNavigation %}
        <ul class="flex flex-row space-x-4">
            {%- for entry in navPages %}
            <li {% if entry.url == page.url %} class="active" {% endif %}>
                <a href="{{ entry.url | url }}">{{entry.title}}</a>
            </li>
            {%- endfor %}    
        </ul>
    </nav>
</header>
