---
title: Generic Page
description: template for various pages
keyword: test
type: website
---
<!DOCTYPE html>
<html lang="en-us">
{% include "head-website.njk" %}
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <main>
        {{content | safe}}
    </main>
    {% include "footer.njk" %}
</body>
<!-- End Body -->
</html>
